<head>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head>


<h1>{{ .Title }}</h1>

<table id = "fancytable" class = "display"> <!-- display is from datatable css -->
	<thead>
		<th>Title</th>
		<th>Keywords</th>
	</thead>
	<tbody>
		{{ range $key, $value := .News }}

		<tr> <!--table row-->
			<td> <a href = "{{$value.Location}}" target = "_blank"> {{ $key }}</a></td> <!-- since it is link it has to be converted by  a href -->
			<td> {{ $value.Keyword }}</td> <!--table data (column)-->
		</tr>

		{{ end }}

	</tbody>

</table>


<!--to sue the css and js for table with id of fancytable-->
<script>$(document).ready(function() {
    $('#fancytable').DataTable();
} );</script> 